* {
    margin: 0;
    padding: 0;
}

a{
    color:#008AE3;
}
/*navbar*/
.nav ul {
    width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
            
.nav li {
    float: right;
    font-size:130%;

}
            
.nav li a {
    display: block;
    color: white;
    text-align: center;
    vertical-align: baseline;
    padding: 66px 20px 66px 20px;
    text-decoration: none;
}
            
.nav li a:hover{
    background-color: #E67E22;
    text-decoration:none;
    color:white;
}
            
.active {
    background-color: #E67E22;
    text-decoration:none;
    color:white;
}

.opening{
    padding:200px 0px 200px 0px;
    width:80%;
    margin: auto;
}

.header{
    width:100%;
    height:600px;
}










.portfolio{
    margin:1%;
    border:solid black 1px;
    padding:1% 1.5% 1% 1.5%;
    width:40%;
    display:inline-block;
    vertical-align:top;
}
.portfolio img{
    width:90%;
}


.quote{
    margin:1%;
    padding:1%;
    width:96%;
    display:inline-block;
}
.quote img{
    height:100px;
    width:100px;
    float:left;
}
.quote:nth-of-type(even) img{
    float:right;
}


		    
.projects{
    width:100%;
    display:inline-block;
    text-align:left;
}
.projects img{
    width:250px;
    height:200px;
    float: left;
}

.projects h2{
    color:#E67E22;
    
}

 .book-bg {
    position: relative;
    width: 300px;
    height: 424px;
    background: url('imgs/motion-book/page.jpg') no-repeat;
    background-size: cover;
    transform-style: preserve-3d;
    perspective: 500px;
}

.book-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #008AE3;
    background-size: cover;
    transform-origin: 0 50%;
    transition: all 0.3s ease;
}

.book-cover p{
    font-size:80%;
    font-weight:bold;
    margin:40px 20px 40px 20px;
    text-shadow: 0px 0px #FFF ;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.book-bg:hover .book-cover {
    transform: rotateY(-60deg);
}

.large{
    font-size:150%;
}

.highlight{
    color:#E67E22;
}

#factDiv{
	border:solid 2px #111;
    background:#E67E22;
    position:fixed;
    bottom:40px;
    right:20px;
    width:300px;
	height:400px;
}

#factContainer{
	background:white;
    overflow-y: scroll;
    overflow-x: hidden;
	color:black;
	width:100%;
	height:250px;
}

#divButton{
	position:fixed;
	bottom:45px;
	right:25px;
	font-size:190%;
	background:#FFF;
	border:solid 1px black;
	border-radius: 50%;
	width: 50px;
	height:50px;
}


#factButton{
    position:absolute;
	bottom:5px;
	left:5px;
	font-size:190%;
	background:#FFF;
	border:solid 1px black;
	border-radius: 50%;
	width: 50px;
	height:50px;
}
			
.show{
	display:inline;
}
			
.hide{
	display:hidden;
}